int n = readInt()
int m = readInt()

int v[n,n] = 0
for i in (0,n) {
	int a = readInt()
	int b = readInt()
	v[a,b] = 1
	v[b,a] = 1
}

int komp[n] = 0
komp[0] = 1
bool zmena = true
while zmena {
	zmena = false
	for i in (0,n) {
		if komp[i] ;
			for j in (0,n) {
				if a[i,j] ;
					if komp[j] == 0 {
						komp[j] = 1
						zmena = true
					}
			}
	}
}

bool cele = true
for i in (0,n)
	if (komp[i] == 0)
		cele = false
if cele
	writeStr("ANO")
else
	writeStr("NIE")
